@charset "UTF-8";
/*variables*/
/*mixins*/
/*keyframes*/
@keyframes spinHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes check {
  0% {
    margin-right: -5rem;
  }
  100% {
    margin-right: 0;
  }
}
@keyframes circle {
  0% {
    transform: rotate(-500deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes appearC {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
/*Style général*/
* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: unset;
  position: relative;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
}
@media screen and (min-width: 1024px) {
  body {
    background: linear-gradient(0deg, #ffc6ef, #85dcc7);
  }
}

a {
  text-decoration: none;
  font-size: unset;
  font-weight: unset;
  color: unset;
}

/*Style HEADER*/
.header {
  padding-top: 1rem;
  width: unset;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.headerLogo {
  width: 15rem;
  height: unset;
}
@media screen and (max-width: 300px) {
  .headerLogo {
    width: 10rem;
    height: unset;
  }
}
.headerReturn {
  font-size: 1.5rem;
  font-weight: unset;
  color: unset;
  position: absolute;
  top: 2rem;
  right: unset;
  bottom: unset;
  left: 0.5rem;
}

.shadow {
  box-shadow: 0 0.3rem 0.5rem #646464;
}

/*Style Spinner*/
.spinner {
  z-index: 1;
  position: fixed;
  top: 0;
  right: unset;
  bottom: unset;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  animation: spinHide 1s 3.5s forwards;
}
.spinnerContain {
  position: relative;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  width: 15rem;
  height: 15rem;
}
.spinnerLoad {
  position: absolute;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  border-radius: 100%;
  animation: spin 3s 0.5s ease-in-out infinite;
}
.spinner .load1 {
  border-top: 1rem solid #9356dc;
  width: 13rem;
  height: 13rem;
}
.spinner .load2 {
  border-right: 1rem solid #ff79da;
  width: 12rem;
  height: 12rem;
}
.spinner .load3 {
  border-bottom: 1rem solid #99e2d0;
  width: 11rem;
  height: 11rem;
}
.spinner .load4 {
  border-left: 1rem solid #646464;
  width: 10rem;
  height: 10rem;
}
.spinnerText {
  font-family: "shrikhand", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: unset;
}

/*Style search*/
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  background-color: rgba(207, 207, 207, 0.603);
}
.searchForm i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.searchForm input {
  width: 30%;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchForm input::placeholder {
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
}
.searchTitle {
  background-color: rgba(233, 233, 233, 0.603);
  text-align: center;
  width: 100%;
  height: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.searchTitle h1 {
  font-size: 2.3rem;
  font-weight: 800;
  color: black;
  width: 50%;
  height: unset;
  padding: 3rem 0 1.5rem 0;
}
.searchTitle p {
  font-size: 2rem;
  font-weight: 400;
  color: black;
  width: 80%;
  height: unset;
  padding-bottom: 2rem;
}
.searchTitle .btn {
  width: 45%;
  height: 4rem;
  max-width: 30rem;
  margin-bottom: 3.5rem;
  border: none;
  border-radius: 10rem;
  background: linear-gradient(-5deg, #9356dc 5%, #ff79da 95%);
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  padding: 1rem;
  box-shadow: 0 0.2rem 0.5rem #979797;
  cursor: pointer;
}
.searchTitle .btn:hover {
  filter: brightness(1.2);
  box-shadow: 0 0.5rem 1rem #646464;
}
.searchTitle .btn:active {
  filter: brightness(1.2);
  box-shadow: 0 0.5rem 1rem #646464;
}
@media screen and (max-width: 575px) {
  .searchTitle .btn {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 330px) {
  .searchTitle .btn {
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
  }
}

/*Style Instruction*/
.instruction {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.instructionTitle {
  margin: 3rem 0 1.5rem 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
.instructionContain {
  width: 90%;
  height: unset;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .instructionContain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: unset;
  }
}
.instructionCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: rgba(233, 233, 233, 0.603);
  margin-bottom: 1.5rem;
  border-radius: 1.3rem;
  box-shadow: 0 0 1rem #cacaca;
}
@media screen and (min-width: 1024px) {
  .instructionCard {
    width: 30%;
    height: 5rem;
  }
}
.instructionCardNumber {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  font-weight: unset;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  margin-right: 2rem;
  margin-left: -1rem;
}
@media screen and (max-width: 270px) {
  .instructionCardNumber {
    margin-right: 1rem;
    margin-left: -0.5rem;
    font-size: 1rem;
    font-weight: unset;
    color: white;
  }
}
@media screen and (max-width: 370px) {
  .instructionCardNumber {
    margin-right: 1.5rem;
    margin-left: -0.75rem;
    font-size: 1.2rem;
    font-weight: unset;
    color: white;
  }
}
@media screen and (min-width: 1024px) {
  .instructionCardNumber {
    margin-right: 1rem;
  }
}
.instructionCard i {
  font-size: 1.5rem;
  color: rgba(80, 80, 80, 0.603);
  margin-right: 2rem;
}
@media screen and (max-width: 270px) {
  .instructionCard i {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 370px) {
  .instructionCard i {
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .instructionCard i {
    margin-right: 1rem;
  }
}
.instructionCardText {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}
@media screen and (max-width: 270px) {
  .instructionCardText {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
  }
}
@media screen and (max-width: 370px) {
  .instructionCardText {
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
  }
}
@media screen and (min-width: 1024px) {
  .instructionCardText {
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
  }
}
.instructionCard:hover {
  background-color: #f3eaff;
}
.instructionCard:hover .fas {
  color: #9356dc;
}
.instructionCard:active {
  background-color: #f3eaff;
}
.instructionCard:active .fas {
  color: #9356dc;
}

/*Style Restaurant*/
.restaurant {
  background-color: rgba(233, 233, 233, 0.603);
  padding-top: 3rem;
  margin-top: 2rem;
}
.restaurantTitle {
  margin: 0 0 1.5rem 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
.restaurantCards {
  width: 92%;
  height: unset;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .restaurantCards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurantCard {
  width: 100%;
  height: 20rem;
  border-radius: 2rem;
  background-color: white;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 0.2rem 1rem #cacaca;
  position: relative;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
}
@media screen and (min-width: 1024px) {
  .restaurantCard {
    width: 45%;
    height: unset;
  }
}
.restaurantCardImg {
  width: 100%;
  height: 15rem;
  border-radius: 2rem 2rem 0 0;
  object-fit: cover;
}
.restaurantCardLegend {
  margin: 1rem 2rem 0.5rem 1rem;
}
.restaurantCardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}
.restaurantCardText {
  font-size: 1.2rem;
  font-weight: unset;
  color: unset;
}
.restaurantCardNew {
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: unset;
  left: unset;
  font-size: 1.1rem;
  font-weight: 500;
  color: #005700;
  background-color: #71ffe0;
  border-radius: 0.2rem;
  padding: 0.7rem;
}
.restaurantCard .btnLike {
  position: absolute;
  top: unset;
  right: 2rem;
  bottom: 2rem;
  left: unset;
  width: 2.5rem;
  height: 2rem;
  font-size: 2rem;
  font-weight: unset;
  color: unset;
  cursor: pointer;
}
.restaurantCard .btnLike .far {
  position: absolute;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
}
.restaurantCard .btnLike .fas {
  position: absolute;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  opacity: 0;
  transform: scale(0);
  transform-origin: 50% 100%;
  transition: opacity 0.5s, transform 0.5s;
}
.restaurantCard .btnLike:hover .far {
  background: linear-gradient(10deg, #9356dc 5%, #ff79da 95%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.restaurantCard .btnLike:hover .fas {
  background: linear-gradient(10deg, #9356dc 5%, #ff79da 95%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  transform: scale(1);
}
.restaurantCard .btnLike:active .far {
  background: linear-gradient(10deg, #9356dc 5%, #ff79da 95%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.restaurantCard .btnLike:active .fas {
  background: linear-gradient(10deg, #9356dc 5%, #ff79da 95%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  transform: scale(1);
}

/*Style Footer*/
.footer {
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  background-color: #424242;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.footerLogo {
  filter: invert(100%);
  margin: 2rem 0 0.5rem 2.5rem;
  width: 8rem;
  height: unset;
}
.footerList {
  list-style-type: none;
}
@media screen and (min-width: 1024px) {
  .footerList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: unset;
  }
}
.footerListItem {
  margin-top: 1rem;
}
.footerListItem i {
  margin-right: 0.5rem;
}
.footerListItem .fa-hands-helping {
  font-size: 0.9rem;
}

/*Style Banner*/
.banner {
  width: 100%;
  height: unset;
}
.banner .adjustMenu_2 {
  margin: -7rem 0 -7rem 0;
}
.bannerImg {
  width: 100%;
  height: unset;
  position: relative;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  object-fit: cover;
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .bannerImg {
    width: 100%;
    height: 30rem;
  }
}

/*Style Menu*/
.menu {
  position: relative;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  background-color: #f3f3f3;
  border: none;
  border-radius: 3rem 3rem 0 0;
  margin-top: -4rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .menu {
    width: 80%;
    height: unset;
    margin: -4rem auto 0 auto;
  }
}
.menuTitle {
  font-size: 2.5rem;
  font-weight: 900;
  color: black;
  padding: 3rem 7rem 2rem 1.5rem;
  font-family: "shrikhand", sans-serif;
}
@media screen and (max-width: 300px) {
  .menuTitle {
    font-size: 2rem;
    font-weight: 900;
    color: black;
    padding: 3rem 6rem 2rem 1.5rem;
  }
}
.menu .btnLike {
  position: absolute;
  top: unset;
  right: 2rem;
  bottom: 2rem;
  left: unset;
  width: 2.5rem;
  height: 2rem;
  font-size: 2rem;
  font-weight: unset;
  color: unset;
  cursor: pointer;
}
.menu .btnLike .far {
  position: absolute;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
}
.menu .btnLike .fas {
  position: absolute;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  opacity: 0;
  transform: scale(0);
  transform-origin: 50% 100%;
  transition: opacity 0.5s, transform 0.5s;
}
.menu .btnLike:hover .far {
  background: linear-gradient(10deg, #9356dc 5%, #ff79da 95%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu .btnLike:hover .fas {
  background: linear-gradient(10deg, #9356dc 5%, #ff79da 95%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  transform: scale(1);
}
.menu .btnLike:active .far {
  background: linear-gradient(10deg, #9356dc 5%, #ff79da 95%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu .btnLike:active .fas {
  background: linear-gradient(10deg, #9356dc 5%, #ff79da 95%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  transform: scale(1);
}
.menu .menuLike {
  font-size: 2.5rem;
  font-weight: 400;
  color: unset;
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  bottom: unset;
  left: unset;
}
.menuContain {
  width: 90%;
  height: unset;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  .menuContain {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: unset;
  }
}
.menuSubMenu {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1400px) {
  .menuSubMenu {
    width: 30%;
    height: unset;
  }
}
.menuSubMenuTitle {
  text-transform: uppercase;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
}
.menuSubMenuTitle .underLine {
  width: 3.7rem;
  height: 0.3rem;
  background-color: #99e2d0;
  margin: 0.3rem 0 1.3rem 0;
}
.menuCard {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0.2rem 1rem #cacaca;
  overflow: hidden;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.menuCardLegend {
  margin-left: 1rem;
  flex: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 360px) {
  .menuCardLegend {
    margin-left: 0.2rem;
  }
}
.menuCardTitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  margin-bottom: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 360px) {
  .menuCardTitle {
    font-size: 1rem;
    font-weight: 500;
    color: black;
  }
}
.menuCardText {
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 360px) {
  .menuCardText {
    font-size: 0.9rem;
    font-weight: 400;
    color: black;
  }
}
.menuCardPrice {
  width: 3rem;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 1.2rem;
  margin: 0 1rem 0 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: black;
}
@media screen and (max-width: 360px) {
  .menuCardPrice {
    width: 2rem;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    padding-right: 0.2rem;
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: black;
  }
}
.menuCardCheck {
  width: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
  margin-right: -5rem;
}
.menuCardCheck i {
  font-size: 1.7rem;
  color: white;
}
.menuCard:hover .animateCheck {
  animation: check 0.5s ease-in-out forwards;
}
.menuCard:hover .animateCircle {
  animation: circle 0.5s ease-in-out forwards;
}
.menuCard:active .animateCheck {
  animation: check 0.5s ease-in-out forwards;
}
.menuCard:active .animateCircle {
  animation: circle 0.5s ease-in-out forwards;
}
.menu .appearCard {
  animation: appearC 1s ease-in-out both;
}
.menu .appearCard_1 {
  animation-delay: 0s;
}
.menu .appearCard_2 {
  animation-delay: 0.3s;
}
.menu .appearCard_3 {
  animation-delay: 0.6s;
}
.menu .appearCard_4 {
  animation-delay: 0.9s;
}
.menu .btn {
  width: 45%;
  height: 4rem;
  max-width: 30rem;
  margin-bottom: 3.5rem;
  border: none;
  border-radius: 10rem;
  background: linear-gradient(-5deg, #9356dc 5%, #ff79da 95%);
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  padding: 1rem;
  box-shadow: 0 0.2rem 0.5rem #979797;
}
.menu .btn:hover {
  filter: brightness(1.2);
  box-shadow: 0 0.5rem 1rem #646464;
}
.menu .btn:active {
  filter: brightness(1.2);
  box-shadow: 0 0.5rem 1rem #646464;
}
@media screen and (max-width: 575px) {
  .menu .btn {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 330px) {
  .menu .btn {
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
  }
}
.menuSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuSubmit .btnMenu {
  margin-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
