/*variables*/
$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-tertiary: #99e2d0;
$clr-primary-light: #b6a4ce;
$clr-shadow: rgb(100, 100, 100);
/*mixins*/
@mixin position(
  $position: unset,
  $top: unset,
  $right: unset,
  $bottom: unset,
  $left: unset
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin dimension($width: unset, $height: unset) {
  width: $width;
  height: $height;
}
@mixin flexbox($display: flex, $justify: unset, $align: unset) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}
@mixin texte_style($font-size: unset, $font-weight: unset, $color: unset) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}
/*keyframes*/
@keyframes spinHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Style général*/
* {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  @include texte_style($font-size: 1rem, $font-weight: 400);
  box-sizing: border-box;
  @include position($position: relative);
  @include dimension($width: 100%, $height: 50rem);
}
a {
  text-decoration: none;
  /*color: unset;*/
  @include texte_style;
}
/*Style HEADER*/
.header {
  padding-top: 1rem;
  @include dimension($height: 4rem);
  @include flexbox($display: flex, $justify: center, $align: center);
  &Return {
    @include texte_style($font-size: 1.5rem);
    @include position($position: absolute, $top: 2rem, $left: 2rem);
  }
  & .inactive {
    display: none;
  }
}
.shadow {
  box-shadow: 0.5rem 0 1rem $clr-shadow;
}
/*Style Spinner*/
.spinner {
  z-index: 1;
  @include position($position: absolute, $top: 0, $left: 0);
  @include dimension($width: 100%, $height: 100%);
  @include flexbox($display: flex, $justify: center, $align: center);
  background-color: white;
  animation: spinHide 1s 3.5s forwards;
  & .load1 {
    border-top: 1rem solid $clr-primary;
    @include dimension($width: 15rem, $height: 15rem);
  }
  & .load2 {
    border-right: 1rem solid $clr-secondary;
    @include dimension($width: 14rem, $height: 14rem);
  }
  & .load3 {
    border-bottom: 1rem solid $clr-tertiary;
    @include dimension($width: 13rem, $height: 13rem);
  }
  & .load4 {
    border-left: 1rem solid $clr-shadow;
    @include dimension($width: 12rem, $height: 12rem);
  }
  &Load {
    @include position($position: absolute, $top: 40%, $left: 33%);
    border-radius: 100%;
    animation: spin 3s 0.5s ease-in-out infinite;
  }
  &Text {
    font-family: "shrikhand", sans-serif;
    @include texte_style($font-size: 1.3rem, $font-weight: 700);
  }
}
