/*variables*/
$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-tertiary: #99e2d0;
$clr-primary-light: #f3eaff;
$clr-shadow: rgb(100, 100, 100);
$clr-search: rgba(207, 207, 207, 0.603);
$clr-search-light: lighten($clr-search, 10%);
$clr-new: rgb(0, 87, 0);
$clr-new-light: rgb(113, 255, 224);
$clr-footer: rgb(66, 66, 66);
/*mixins*/
@mixin position(
  $position: unset,
  $top: unset,
  $right: unset,
  $bottom: unset,
  $left: unset
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin dimension($width: unset, $height: unset) {
  width: $width;
  height: $height;
}
@mixin flexbox($display: flex, $justify: unset, $align: unset) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}
@mixin texte_style($font-size: unset, $font-weight: unset, $color: unset) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}
/*keyframes*/
@keyframes spinHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Style général*/
* {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  @include texte_style($font-size: 1rem, $font-weight: 400);
  @include position($position: relative);
}
a {
  text-decoration: none;
  @include texte_style;
}
/*Style HEADER*/
.header {
  padding-top: 1rem;
  @include dimension($height: 4rem);
  @include flexbox($display: flex, $justify: center, $align: center);
  &Logo {
    @include dimension($width: 15rem);
  }
  &Return {
    @include texte_style($font-size: 1.5rem);
    @include position($position: absolute, $top: 2rem, $left: 2rem);
  }
  & .inactive {
    display: none;
  }
}
.shadow {
  box-shadow: 0 0.3rem 0.5rem $clr-shadow;
}
/*Style Spinner*/
.spinner {
  z-index: 1;
  @include position($position: fixed, $top: 0, $left: 0);
  @include dimension($width: 100%, $height: 100%);
  @include flexbox($display: flex, $justify: center, $align: center);
  flex-direction: column;
  background-color: white;
  animation: spinHide 1s 3.5s forwards;
  &Contain {
    @include position($position: relative);
    @include dimension($width: 15rem, $height: 15rem);
  }
  &Load {
    @include position($position: absolute);
    border-radius: 100%;
    animation: spin 3s 0.5s ease-in-out infinite;
  }
  & .load1 {
    border-top: 1rem solid $clr-primary;
    @include dimension($width: 13rem, $height: 13rem);
  }
  & .load2 {
    border-right: 1rem solid $clr-secondary;
    @include dimension($width: 12rem, $height: 12rem);
  }
  & .load3 {
    border-bottom: 1rem solid $clr-tertiary;
    @include dimension($width: 11rem, $height: 11rem);
  }
  & .load4 {
    border-left: 1rem solid $clr-shadow;
    @include dimension($width: 10rem, $height: 10rem);
  }
  &Text {
    font-family: "shrikhand", sans-serif;
    @include texte_style($font-size: 2rem, $font-weight: 700);
  }
}
/*Style search*/
.search {
  @include flexbox($display: flex, $justify: center, $align: center);
  flex-direction: column;
  &Form {
    @include flexbox($display: flex, $justify: center, $align: center);
    @include dimension($width: 100%, $height: 3.5rem);
    background-color: $clr-search;
    & i {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
    & input {
      @include dimension($width: 30%, $height: 2rem);
      @include texte_style(
        $font-size: 1.2rem,
        $font-weight: 500,
        $color: black
      );
      padding: 0.5rem 0.5rem 0 0.5rem;
      border: none;
      outline: none;
      background-color: transparent;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &::placeholder {
        @include texte_style(
          $font-size: 1.2rem,
          $font-weight: 700,
          $color: black
        );
      }
    }
  }
  &Title {
    background-color: $clr-search-light;
    text-align: center;
    @include dimension($width: 100%);
    @include flexbox($display: flex, $justify: center, $align: center);
    flex-direction: column;
    & h1 {
      @include texte_style(
        $font-size: 2.3rem,
        $font-weight: 800,
        $color: black
      );
      @include dimension($width: 50%);
      padding: 3rem 0 1.5rem 0;
    }
    & p {
      @include texte_style($font-size: 2rem, $font-weight: 400, $color: black);
      @include dimension($width: 80%);
      padding-bottom: 2rem;
    }
    & .btn {
      @include dimension($width: 45%, $height: 4rem);
      max-width: 30rem;
      margin-bottom: 3.5rem;
      border: none;
      border-radius: 10rem;
      background: linear-gradient(-5deg, $clr-primary 5%, $clr-secondary 95%);
      @include texte_style(
        $font-size: 1.3rem,
        $font-weight: 500,
        $color: white
      );
      padding: 1rem;
      box-shadow: 0 0.2rem 0.5rem lighten($clr-shadow, 20%);
      &:hover {
        filter: brightness(1.2);
        box-shadow: 0 0.5rem 1rem $clr-shadow;
      }
      @media screen and (max-width: 575px) {
        @include texte_style(
          $font-size: 1.2rem,
          $font-weight: 500,
          $color: white
        );
        padding: 0.5rem;
      }
      @media screen and (max-width: 330px) {
        @include texte_style(
          $font-size: 0.9rem,
          $font-weight: 500,
          $color: white
        );
      }
    }
  }
}
/*Style Instruction*/
.instruction {
  @include flexbox($display: flex, $justify: space-between, $align: flex-start);
  flex-direction: column;
  &Title {
    margin: 3rem 0 1.5rem 1rem;
    @include texte_style($font-size: 2rem, $font-weight: 700, $color: black);
  }
  &Contain {
    @include dimension($width: 90%);
    margin: 0 auto;
    @media screen and (min-width: 1024px) {
      @include flexbox($display: flex, $justify: space-between, $align: center);
      @include dimension($width: 95%);
    }
  }
  &Card {
    @include flexbox($display: flex, $justify: flex-start, $align: center);
    @include dimension($width: 100%, $height: 5rem);
    background-color: $clr-search-light;
    margin-bottom: 1.5rem;
    border-radius: 1.3rem;
    box-shadow: 0 0 1.5rem lighten($clr-shadow, 40%);
    @media screen and (min-width: 1024px) {
      @include dimension($width: 30%, $height: 5rem);
    }
    &Number {
      @include dimension($width: 2rem, $height: 2rem);
      @include texte_style($font-size: 1.5rem, $color: white);
      @include flexbox($display: flex, $justify: center, $align: center);
      background-color: $clr-primary;
      border-radius: 50%;
      margin-right: 2rem;
      margin-left: -1rem;
      @media screen and (max-width: 270px) {
        margin-right: 1rem;
        margin-left: -0.5rem;
        @include texte_style($font-size: 1rem, $color: white);
      }
      @media screen and (max-width: 370px) {
        margin-right: 1.5rem;
        margin-left: -0.75rem;
        @include texte_style($font-size: 1.2rem, $color: white);
      }
      @media screen and (min-width: 1024px) {
        margin-right: 1rem;
      }
    }
    & i {
      /*@include texte_style(
        $font-size: 1.5rem,
        $color: darken($clr-search, 50%)
      );*/
      font-size: 1.5rem;
      color: darken($clr-search, 50%);
      margin-right: 2rem;
      @media screen and (max-width: 270px) {
        margin-right: 1rem;
      }
      @media screen and (max-width: 370px) {
        margin-right: 1.5rem;
      }
      @media screen and (min-width: 1024px) {
        margin-right: 1rem;
      }
    }
    &Text {
      @include texte_style(
        $font-size: 1.5rem,
        $font-weight: 500,
        $color: black
      );
      @media screen and (max-width: 270px) {
        @include texte_style(
          $font-size: 1.2rem,
          $font-weight: 500,
          $color: black
        );
      }
      @media screen and (max-width: 370px) {
        @include texte_style(
          $font-size: 1.3rem,
          $font-weight: 500,
          $color: black
        );
      }
      @media screen and (min-width: 1024px) {
        @include texte_style(
          $font-size: 1.1rem,
          $font-weight: 500,
          $color: black
        );
      }
    }
    &:hover {
      background-color: $clr-primary-light;
      & .fas {
        color: $clr-primary;
      }
    }
  }
}
/*Style Restaurant*/
.restaurant {
  background-color: $clr-search-light;
  padding-top: 3rem;
  &Title {
    margin: 0 0 1.5rem 1rem;
    @include texte_style($font-size: 2rem, $font-weight: 700, $color: black);
  }
  &Cards {
    @include dimension($width: 92%);
    margin: 0 auto;
    @include flexbox($display: flex, $justify: space-around, $align: center);
    flex-direction: column;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &Card {
    @include dimension($width: 100%, $height: 20rem);
    border-radius: 2rem;
    background-color: white;
    margin-bottom: 2rem;
    box-shadow: 0 0.2rem 1rem lighten($clr-shadow, 40%);
    @include position($position: relative);
    @media screen and (min-width: 1024px) {
      @include dimension($width: 45%);
    }
    &Img {
      @include dimension($width: 100%, $height: 15rem);
      border-radius: 2rem 2rem 0 0;
      object-fit: cover;
    }
    &Legend {
      margin: 1rem 2rem 0.5rem 1rem;
    }
    &Title {
      @include texte_style(
        $font-size: 1.5rem,
        $font-weight: 600,
        $color: black
      );
    }
    &Text {
      @include texte_style($font-size: 1.2rem);
    }
    &New {
      @include position($position: absolute, $top: 2rem, $right: 2rem);
      @include texte_style(
        $font-size: 1.1rem,
        $font-weight: 500,
        $color: $clr-new
      );
      background-color: $clr-new-light;
      border-radius: 0.2rem;
      padding: 0.7rem;
    }
    & .btnLike {
      @include position($position: absolute, $right: 1.5rem, $bottom: 0.7rem);
      @include dimension($width: 2rem, $height: 2rem);
      @include texte_style($font-size: 2rem);
      cursor: pointer;
      & .far {
        @include position($position: absolute);
      }
      & .fas {
        @include position($position: absolute);
        opacity: 0;
        transform: scaleY(0);
      }
      &:hover {
        & .far {
          opacity: 0;
        }
        & .fas {
          opacity: 1;
          transform: scaleY(1);
          transform-origin: 50% 100%;
          transition: opacity 0.3s, transform 0.5s;
          background: -moz-linear-gradient(
            10deg,
            $clr-secondary 5%,
            $clr-primary 95%
          );
          background: -webkit-linear-gradient(
            10deg,
            $clr-secondary 5%,
            $clr-primary 95%
          );
          background: linear-gradient(
            10deg,
            $clr-secondary 5%,
            $clr-primary 95%
          );
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          color: transparent;
        }
      }
    }
  }
}
/*Style Footer*/
.footer {
  @include texte_style($font-size: 1.3rem, $font-weight: 500, $color: white);
  background-color: $clr-footer;
  padding-bottom: 2.5rem;
  @media screen and (min-width: 768px) {
    @include flexbox($display: flex, $justify: center, $align: center);
    flex-direction: column;
  }
  &Logo {
    filter: invert(100%);
    margin: 2rem 0 0.5rem 2.5rem;
    @include dimension($width: 8rem);
  }
  &List {
    list-style-type: none;
    @media screen and (min-width: 1024px) {
      @include flexbox($display: flex, $justify: space-between, $align: center);
      @include dimension($width: 90%);
    }
    &Item {
      margin-top: 1rem;
      & i {
        margin-right: 0.5rem;
      }
      & .fa-hands-helping {
        font-size: 0.9rem;
      }
    }
  }
}
