/*variables*/
$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-secondary-light: lighten($clr-secondary, 15%);
$clr-tertiary: #99e2d0;
$clr-tertiary-strong: darken($clr-tertiary, 5%);
$clr-primary-light: #f3eaff;
$clr-shadow: rgb(100, 100, 100);
$clr-search: rgba(207, 207, 207, 0.603);
$clr-search-light: lighten($clr-search, 10%);
$clr-new: rgb(0, 87, 0);
$clr-new-light: rgb(113, 255, 224);
$clr-footer: rgb(66, 66, 66);
$clr-menu: rgb(243, 243, 243);
