/*Style Footer*/
.footer {
  @include texte_style($font-size: 1.3rem, $font-weight: 500, $color: white);
  background-color: $clr-footer;
  padding-bottom: 2.5rem;
  @media screen and (min-width: 768px) {
    @include flexbox($display: flex, $justify: center, $align: center);
    flex-direction: column;
  }
  &Logo {
    filter: invert(100%);
    margin: 2rem 0 0.5rem 2.5rem;
    @include dimension($width: 8rem);
  }
  &List {
    list-style-type: none;
    @media screen and (min-width: 1024px) {
      @include flexbox($display: flex, $justify: space-between, $align: center);
      @include dimension($width: 90%);
    }
    &Item {
      margin-top: 1rem;
      & i {
        margin-right: 0.5rem;
      }
    }
  }
}
